footer{
	width:100%;
	background:$mainColor;
	overflow:hidden;
	border-top:8px solid $red;
	@include breakpoint(tablet){
		//margin-top:3em;
	}
	.content{
		display:flex;
		align-items:flex-end;
		justify-content:flex-start;
		flex-wrap:wrap;
		margin:0 auto;
		max-width:1200px;
		width:100%;
		@include breakpoint(large){
			margin:1em 1em 1em 13em;
		}
		div{
			//flex-basis:200px;
			//flex-shrink:1;
			display:inline-block;
			width:100%;
			@include breakpoint(tablet){
				padding:1em;
				width:auto;
			}
			&.nav-container{
				flex-grow:2;
			}
			p, ul, a{
				color:$bgColor;
			}
			img.logo{
				width:8em;
				opacity:0.5;
				display:block;
				margin:0 auto;
			}
			ul{
				list-style-type:none;
				padding-left:0;
				text-align:center;
				li{
					display:inline-block;
					margin:0;
					a{
						padding:1em;
						font-size:0.9em;
						color:transparentize(#fff,0.5);
						text-decoration:none;
						text-transform: uppercase;
						&:hover{
							color:#fff;
						}
					}
				}
				h4{
					margin:0;

				}
				a{
					color:$highlight;
				}
				&.social{
					li{
						display:inline-block;
						a{
							padding:0 0.5em 0 0;
							&:hover{
								svg{
									fill:#fff;
								}
							}
							svg{
								width:1rem;
								height:1rem;
								fill:transparentize(#fff,0.5);
							}
						}
					}
				}
			}
			
			
		}
	}


}