header{
	background:$mainColor;
	width:100%;
	//overflow:hidden;
	position:absolute;
	z-index:20;
	//border-bottom:8px solid $red;
	@include breakpoint(tablet){
		width:12em;
		transition:0.25s width ease-out;
	}
	&.nav-open{
		//text-align:right;
		//height:100%;
		//border-bottom:8px solid transparent;
		@include breakpoint(tablet){
			width:90%;
			transition:0.25s width ease-in;
		}
		& ~ .menu-overlay{
			background:rgba(0,0,0,0.7);
			transition:0.5s;
			z-index:10;
			opacity:1;
			img.small-logo{
				//opacity:0.5;
				transition:0.25s;
				@include breakpoint(tablet){
					opacity:0.5;
				}
				&:hover{
					opacity:0.7;
				}

			}
		}
		img.logo{
			opacity:0.4;
			transition:0.25s;
			//display:inline-block;
			@include breakpoint(tablet){
				opacity:0;
			}
		}
		

	}
	img.logo{
		padding:1em 1.5em;
		max-width:100%;
		height:6em;
		margin:0;
		position:relative;
		z-index:25;
		display:block;
		opacity:1;
		transition:0.25s;
	}
	& ~ .menu-overlay{
		width:100%;
		height:100%;
		position:absolute;
		background:rgba(0,0,0,0.2);
		transition:0.5s;
		z-index:-1;
		opacity:0;
		img.small-logo{
			opacity:0;
			width:10%;
			height:2em;
			bottom:1em;
			right:0;
			position:absolute;

		}
	}
	
}