.hero{
	width:100%;
	min-height:15em;
	height:80%;
	height:70vh;
	position:relative;
	animation-name: fadeIn;
	animation-duration:1s;
	@include breakpoint(tablet){
		min-height:35em;
		height:100%;
		height:100vh;

	}
	&.text-only{
		position:relative;
		height:auto;
		min-height:initial;
		overflow:hidden;
		.content{
			padding-top:8em;
			overflow:hidden;
			@include breakpoint(tablet){
				padding-top:14em;
			}
			@include breakpoint(medium){
				padding-top:12em;
			}
			h1{
				margin:0;
				font-size:2.5em;
				animation-name:slideIn;
				animation-duration:1s;
				display:inline-block;
				@include breakpoint(tablet){
					font-size:4em;
				}
			}
			h2{
				margin-bottom:0;
				animation-name: fadeIn;
				animation-duration:0.5s;
			}
		}
	}
	&.big-img{
		width:100%;
		min-height:20em;
		height:auto;
		position:relative;
		animation-name: fadeIn;
		animation-duration:1s;
		background-size:cover;
		background-position:center center;
		background-repeat:no-repeat;
		
		@include breakpoint(tablet){
			min-height:35em;
			height:100%;
			height:100vh;
			background-attachment:fixed;
			//background-position:center right;
		}
		h1{
			position:absolute;
			color:$mainColor;
			z-index:10;
			font-size:1.5em;
			line-height:0.6;
			letter-spacing:1px;
			bottom:2em;
			right:0;
			@include breakpoint(tablet){
				bottom:0.5em;
				letter-spacing:0px;
				font-size:4.6em;
			}
			@include breakpoint(medium){
				font-size:6em;
			}
			&.long{
				line-height:0.9;
				@include breakpoint(tablet){
					font-size:2.25em;
					bottom:2em;
				}
				@include breakpoint(medium){
					font-size:3em;
				}
			}
			span{
				background:rgba(255,255,255,0.8);
				display:inline-block;
				overflow:hidden;
				padding-bottom:3px;
				padding-top:5px;
				&:first-child{
					//border-top:5px solid $red;
					padding-top:10px
				}
				&:last-child{
					//border-bottom:5px solid $red;
					padding-bottom:10px;
				}
			}
			
		}
		.scroll-down{
			position:absolute;
			bottom:0;
			width:100%;
			padding:1em 0 0.5em 0;
			overflow:hidden;
			//height:3em;
			background:linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0.4));
			svg{
				fill:$red;
				height:1.25em;
				width:100%;
				margin-bottom:0;
				display:block;
				transition:0.25s;
			}
			&:hover{
				svg{
					margin-bottom:0.5em;
					//fill:#fff;
					transition:0.25s;
				}
				
			}

		}
	}
}

