.menu-icon{
	background:$highlight;
	width:6em;
	height:6em;
	display:block;
	transition:0.5s;
	overflow:hidden;
	position:absolute;
	top:0;
	left:0;
	left:calc(100% - 6em);
	z-index:20;
	@include breakpoint(tablet){
		width:12em;
		z-index:18;	
		top:6em;
		left:0;

	}
	&:hover{
		background:lighten($highlight, 5);
		transition:0.15s;
		.icon-wrap{
			.icon{
				top:0.15em;
				transition:0.15 ease-in;
				&:before{
					top:0.75em;
					transition:0.15 ease-in;
				}
				&:after{
					top:1.5em;
					transition:0.15 ease-in;
				}
			}
		}
	}
	&.nav-open{
		right:0;
		left:initial;
		background:0;
		transition:0.25s;
		top:0em;
		width:6em;
		@include breakpoint(tablet){
			width:10%;
			top:0;
		}
		&:hover{
			background:rgba(255,255,255,0.4);
			.icon-wrap{
				.icon{
					top:0;
					transition:0.25s;
					&:before{
						top:1em;
					}
				}
			}
		}
		.icon-wrap{
			margin:2.5em auto 2em auto;
			.icon{
				transform:rotate(45deg) translate(4px);
				transition:0.15s;
				&:before{
					transform:rotate(90deg) translate(-18px);
				}
				&:after{
					transform:rotate(-45deg) translate(100px, 3px);
					opacity:0;
				}
			}
		}
	}
	.icon-wrap{
		position:relative;
		width:3em;
		height:2em;
		margin:2em auto;
		display:block;
		.icon{
			background:#fff;
			height:2px;
			width:100%;
			position:absolute;
			top:0;
			transition:0.25s;
			transform:rotate(0) translate(0);
			&:before, &:after{
				content:'';
				height:2px;
				width:100%;
				background:#fff;
				position:absolute;
				transition:0.25s;
			}
			&:before{
				top:1em;
				transform:rotate(0) translate(0);
			}
			&:after{
				top:2em;
				transform:rotate(0) translate(0);
			}
		}
	}
}
nav.main{
	position:absolute;
	left:100%;
	background:$mainColor;
	transition:0.25s ease-in;
	width:100%;
	height:calc(100vh - 6em);
	text-align:left;
	left:-27em;
	width:20em;
	line-height:0.9;
	@include breakpoint(tablet){
		padding-top:6em;
	}
	& > ul{
		/*
		&:before, &:after{
			content:' ';
			height:8px;
			width:10em;
			background:$red;
			display:block;
			
		}
		&:before{
			margin-bottom:1em;
		}
		&:after{
			margin-top:1em;
		}
		*/
	}
	ul{
		list-style-type:none;
		padding:1em;
		&.faded{
			& > li{
				& > a{
					color:transparentize(#fff, 0.7);
				}
			}
		}
		li{
			position:relative;
			margin:0;
			line-height:0.8;
			&:after{
				content:'';
				position:absolute;
				width:0;
				//right:0;
				border-top:1px solid #fff;
				border-bottom:1px solid #fff;
				height:95%;
				//height:calc(100% - 2px);
				transition:width 0.25s 0.07s, opacity 0.15s 0.1s;
				background:$mainColor;
				z-index:40;
			}
			&.active{
				&:after{
					transition:width 0.25s;
					@include breakpoint(tablet){
						width:calc(5rem + 1.5px);
						width:calc(5em + 1.5px);
					}
					@include breakpoint(medium){
						width:calc(10rem + 1.5px);
						width:calc(11em + 1.5px);
						
					}
				}
				& > a{
					color:#000;
				}
			}
			a{
				font-size:2em;
				margin-right:0.78em;
				color:#fff;
				font-family:$headerFont;
				text-transform:uppercase;
				text-decoration:none;
				font-weight:bold;
				transition:0.25s;
				@include breakpoint(tablet){
					font-size:3em;
				}
				@include breakpoint(medium){
					font-size:4em;
				}
				&:hover{
					color:#000;
					transition:0.25s;
				}
			}
			ul{
				padding:0;
				overflow:hidden;
				display:block;
				max-width:0;
				width:auto;
				height:auto;
				opacity:0;
				z-index:30;
				transition:opacity 0.15s, transform 0.25s, max-width 0.25s 0.05s, padding 0.25s;
				border:1px solid #fff;
				position:absolute;
				@include breakpoint(tablet){
					max-width:0;
					transition:opacity 0.15s 0.05s, transform 0.25s 0.1s, max-width 0.25s 0.05s, padding 0.25s;
					display:inline-block;
				}
				
				li{
					opacity:0;
					transition:opacity 0.15s, transform 0.15s;
					transform:translate(-5rem);

					a{
						font-size:0.9em;
						color:#fff;
						text-transform:none;
						font-family:$paragraph;
						font-weight:300;
						padding:0.25em 0;
						display:block;
						@include breakpoint(medium){
							font-size:1em;
						}
						&:hover{
							color:$red;
						}
					}
				}
			}
			
		}
	}
	&.is-open{
		left:0;
		transition:0.25s ease-in 0.1s;
		width:100%;
		ul{
			li{
				&.active{
					ul{
						max-width:500px;
						top:0;
						opacity:1;
						transition: opacity 0.25s, transform 0.25s;
						padding:1em;
						position:relative;
						margin:0.5em 0;
						@include breakpoint(tablet){
							transition: opacity 0.25s 0.25s, transform 0.25s, max-width 0.15s 0.2s;
							transform:translate(5em);
							position:absolute;
							margin:0;
							
						}
						@include breakpoint(medium){
							transform:translate(11em);
							padding:1em 2em;
						}
						li{
							opacity:1;
							transition:opacity 0.15s 0.25s, transform 0.25s 0.25s;
							transform:translate(0);
						}
						
					}
				}
			}
		}
	}
}