.sidebar{
	flex-basis:300px;
	flex-shrink:1;
	flex-grow:1;
	font-size:1em;
	position:relative;
	height:auto;
	@include breakpoint(tablet){
		//text-align:right;
		
		min-height:60vh;
		flex-grow:0;
	}
	&.fixed{
		.content{
			max-width:300px;
			@include breakpoint(tablet){
				position:fixed;
				//margin-top:1em;
				//margin-left:1em;
			}
			@include breakpoint(medium){
				//margin-left:1em;
			}
		}
		ul.social{
			
			
		}
		
	}
	.content{
		position:relative;
		margin:0;
		width:100%;
		display:block;
		top:0;
		@include breakpoint(tablet){
			position:absolute;
			//width:100%;
			//margin:1em 0 0 1em;
			//margin-left:1em;
		}
		
		.project-info{
			
			padding:0 1em;
			
			@include breakpoint(tablet){
				margin:1em 0;
			}
			h3{
				font-size:1em;
				margin:1em 0 0 0;
				color:$highlight;
			}
			h4{
				margin:1em 0 0 0;
			}
			p{
				margin:0;
			}
		}
		
	}
	ul.social{
		list-style:none;
		border:1px solid $mainColor;
		padding:0.5em;
		display:none;
		text-align:center;
		margin:1em;
		@include breakpoint(tablet){
			margin-left:9em;
			//margin-left:calc(100% - 3em);
			display:inline-block;
		}
		@include breakpoint(medium){
			margin-left:13.5em;
		}
		
		li{
			display:inline-block;
			margin:0;
			@include breakpoint(tablet){
				display:block;
			}
			a{
				display:block;
				padding:0.25em;
				&:hover{
					svg{
						fill:$highlight;
					}
				}
				svg{
					fill:$mainColor;
					width:1rem;
					height:1rem;
					
				}
			}
		}
	}
	a.thumb{
		padding:0.5em;
		transition:0.25s;
		display:block;
		opacity:0.9;
		margin:1em 0;
		width:100%;
		position:relative;
		@include breakpoint(tablet){
			max-width:17em;
		}
		&:hover{
			transition:0.25s;
			opacity:1;
		}		
	}
	.video-container{
		margin:3em 1em 3em 1em;
		position:relative;
		width:100%;
		display:flex;
		align-items:flex-start;
		justify-content: flex-start;
		@include breakpoint(medium){
			//width:13.5em;
		}
		
		.btn-wrap{
			border-top:1px solid $mainColor;
			border-bottom:1px solid $mainColor;	
			display:inline-block;
			background:$bgColor;
			z-index:4;
			position:relative;
			.btn{
				border:1px solid $mainColor;
				padding:1em 1.5em;
				margin:1em 0;
				display:inline-block;
				transition:0.25s;
				&:hover{
					background:$mainColor;
					transition:0.25s;
					svg{
						fill:#fff;
						transition:0.25s;
					}
				}
				svg{
					width:1em;
					height:1em;
					fill:$red;
				}
			}
			
		}
		h3{
			font-family:$paragraph;
			font-weight:300;
			font-size:1em;
			text-transform: none;
			display:inline-block;
			padding:1em;
			border-top:1px solid $mainColor;
			border-right:1px solid $mainColor;
			border-bottom:1px solid $mainColor;
			border-left:1px solid $mainColor;
			position:relative;
			z-index:1;
			margin: 0 0 0 -1.5px;
			padding: 1em 1em 5em 1em;
			max-width:11em;
		}
	}
}