//event-popup

.event-popup.fancybox-content{
	padding:0;
	max-width:800px;
	position:static;
	.container{
		background:$mainColor;
		.info{
			width:100%;
			padding:1em;
		
			color:#fff;
			
			h2{
				margin-top:0;
				@include breakpoint(small){
					font-size:1.5em;
				}
			}
			h3{
				@include breakpoint(small){
					font-size:1em;
				}
			}
			a.btn{
				font-size:1.2em;
				padding:0.5em 0.75em;
				display:block;
				background:#fff;
				transition:0.25s;
				text-decoration: none;
				text-transform: uppercase;
				text-align:center;
				margin:2em auto 1em auto;
				&:hover{
					background:$highlight;
					color:#fff;
					transition:0.25s;
				}
			}
			span{
				color:$red;
			}
		}
	}
}