//mailchimp form

#mc_embed_signup{
	background:rgba(255,255,255,0.6);
	padding:1em;
	clear:left;
	margin:2em auto;
	border:1px solid #fff;
	h2{
		margin:0 0 0.25em 0;
	}
	.indicates-required{
		font-family:$paragraph;
	}
	.mc-field-group{
		margin:1em 0;
	}
	.asterisk{
		color:$red;
	}
	div.mce_inline_error{
		font-family:$paragraph;
		background:$red;
	}
	div#mce-success-response, div#mce-error-response{
		font-family: $paragraph;
	}
	div#mce-success-response{
		color:#1b951b;
	}
	div#mce-error-response{
		color:$red;
	}
	label{
		display:block;
		font-family:$paragraph;
		font-size:1.15em;
	}
	input{
		display:block;
		width:100%;
		padding:0.25em;
		font-size:1.25em;
		border:1px solid lighten($highlight, 20);
		font-family:$paragraph;
		margin-top:0.25em;
		&.mce_inline_error{
			border:1px solid $red;
		}
		&.button{
			background:$highlight;
			color:#fff;
			margin:1em auto 0 auto;
			text-transform: uppercase;
			transition:0.25s;
			padding:0.5em;
			border:0;
			&:hover{
				transition:0.25s;
				background:darken($highlight, 15);
				cursor:pointer;
			}
		}
	}

}