.logo-grid{
	display:flex;
	align-items:flex-start;
	justify-content: space-between;
	flex-wrap:wrap;
	.logo-single{
		flex-basis:250px;
		flex-grow:0;
		padding:0.5em;
		.logo-wrap{
			//border:1px solid $mainColor;
			padding:1em;
			height:9em;
			
			a{
				width:100%;
				height:100%;
				display:flex;
				align-items:center;
				flex-wrap:wrap;
			}
			img{
				max-height:100%;
				display:block;
				margin:auto;
			}

		}
		.info{
			text-align:center;
		}
		h3{
			margin:0.25em 0;
			text-transform: none;
			font-size:1em;
			text-transform: uppercase;
			text-align:center;
		}
		p{
			margin-top:0.25em;
		}
	
	}
}

.basic-grid{
	.grid-item{
		//border:1px solid $mainColor;
		padding:1em;
		margin:0.5em auto;
		width:100%;
		display:flex;
		align-items:flex-start;
		justify-content: flex-start;
		flex-wrap:wrap;
		background:rgba(255, 255, 255, 0.4);

		img{
			max-width:100%;
			width:10em;
			margin:0 auto;
			
			
		}
		.thumb{
			width:5em;
			min-height:10em;
			background-position:center center;
			background-size:100%;
		}
		.info{
			flex-basis:300px;
			flex-grow:1;
			margin-left:1em;
			@include breakpoint(small){
				margin-left:0;
			}
		
			h3{
				margin:0 0 0.25em 0;
				text-transform: none;
				font-size:1.25em;
			}
			p{
				font-size:0.9em;
				&.download{
					font-size:1em;
				}
			}
		}
		
	}
}