input[type="checkbox"].search-reveal{
		position:absolute;
		left:-9999px;
		&:checked ~ label{
			//background:transparentize($highlight, 0.6);
		}
		&:checked ~ .search-menu{
			display:flex;
			padding:1em 1em 1em 1em;
			max-height:60em;
			transition:max-height 0.25s;
			
			@include breakpoint(medium){
				padding:1em 1em 2em 13em;
			}
			div{
				opacity:1;
				transition:opacity 0.3s;
			}
		}
	}
	label{
		&.search-open{
			//position:absolute;
			right:0;
			top:6em;
			display:block;
			padding:0.5em;
			border-radius:2px;
			transition:0.25s;
			width:100%;
			color:$red;
			text-align:right;
			@include breakpoint(tablet){
				top:0;
				width:auto;
				padding:0.5em 0.75em;
			}
			&:hover{
				background:transparentize(#fff, 0.7);
				transition:0.25s;
			}
		}
		p{
			display:inline-block;
			vertical-align: middle;
			margin:0;
		}
		svg{
			
			height:2em;
			width:2em;
			fill:$red;
			margin-left:0.25em;
			display:inline-block;
			vertical-align: middle;
			//background:#fff;
		}
		&:hover{
			cursor:pointer;
		}
	}
.search-container{
	position:relative;
	right:0;
	top:0;
	width:100%;
	//min-height:6em;
	overflow:hidden;
	@include breakpoint(tablet){
		//min-height:11em;
	}
	
	.search-menu{
		display:flex;
		align-items:flex-start;
		justify-content:space-between;
		flex-wrap:wrap;
		background:$mainColor;
		max-height:0;
		padding:0;
		height:auto;
		transition:max-height 0.25s padding 0.5s;
		@include breakpoint(tablet){
			
			//margin-top:12em;
		}
		h2{
			flex-basis:100%;
			font-size:1.75em;
			margin:0.25em 0;
			@include breakpoint(tablet){
				font-size:3.5em;
			}
		}
		div{
			flex-basis:200px;
			flex-grow:1;
			opacity:0;
			h3{
				margin:0;
				color:#000;
			}
			ul{
				list-style-type:none;
				padding:0;
				li{
					margin:0;
				}

			}
			input[type="checkbox"]{
				position:absolute;
				left:-999%;
				&:checked{
					& ~ .check{
						border:1px solid $highlight;
						overflow:hidden;
						&:after{
							content:'';
							position:absolute;
							height:0;
							width:1em;
							background:transparent;
							border-bottom:1em solid #000;
							border-left:1em solid transparent;
							border-right:1em solid transparent;


						}
					}
				}
				& ~ .check{
					width:1em;
					height:1em;
					background:#fff;
					display:inline-block;
					margin:0 0.5em 0.25em 0;
					vertical-align: middle;
					border:1px solid #fff;
					position:relative;
				}
			}
			label{
				color:#fff;
				font-weight:bold;
				&:hover{
					.check{
						border:1px solid #000;
					}
				}
			}
		}

	}
}
p.search-error{
	display:none;
	&.on{
		display:block;
	}
}