.social-media{
	.hero{
		.content{
			justify-content: flex-start;
			align-items:center;
		}
	}
	article{
		display:flex;
		align-items:flex-start;
		justify-content: space-between;
		flex-wrap:wrap;
	}
	.social-single{
		flex-basis:250px;
		flex-grow:1;
		padding:0.25em;
		h2{
			span{
				font-size:0.5em;
			}
		}
	}
	ul.social{
		list-style-type:none;
		border:1px solid $mainColor;
		padding:0.5em;
		text-align:center; 
		margin:1em;
		li{
			display:inline-block;
			margin:0;
			a{
				display:block;
				padding:0.25em;
				&:hover{
					svg{
						fill:$highlight;
					}
				}
				svg{
					fill:$mainColor;
					width:1rem;
					height:1rem;
					
				}
			}
		}
	}
	
}


iframe{
	background:transparent;
}

._2lqg{
	background:transparent !important;
	border:0 !important;

}