.basic{
	
	
}
.parent{
	.basic-grid{
		.grid-item{
			img{
				width:100%;
				max-width:8em;
				margin:0.5em;
			}
		}
	}
}

.content{
	margin:0 auto;
	max-width:1200px;
	display:flex;
	align-items:flex-start;
	justify-content: space-between;
	padding:1em;
	flex-wrap:wrap;
	//position:relative;
	@include breakpoint(medium){
		margin:2em 1em 2em 13em;
		padding:0;
	}
	article{
		//padding:1em;
		flex-basis:425px;
		flex-grow:1;
		
		@include breakpoint(tablet){
			padding-right:1em;
			padding-bottom:2em;
		}
		p{
			text-align:justify;
			a{
				color:$red;
			}
		}
	}
	
	.sidebar{
		//padding:1em;
	}
	table{
		max-width:100%;
		width:100% !important;
		@include breakpoint(small){
	
				td{
					display:block;
				}
	
		}
	}
}

.single{
	background:rgba(255,255,255,0.4);
	padding:0.25em 1em;
	margin:0.5em 0;
	position:relative;
	overflow:hidden;
	&.event{
		padding:0;
		.info{
			padding:1em;
		}
	}
	img.thumb{
		width:100%;
		position:relative;
		left:0;
		top:0;
	}
	.info{
		display:inline-block;
		//margin-top:7em;
		@include breakpoint(tablet){
			//margin-top:8em;
		}
		@include breakpoint(medium){
			//margin-top:16em;
		}
		@include breakpoint(small){
			//margin-top:5em;
		}
	}
}