//_contact.scss
.contact{
	.hero{
		padding-top:9em;
		height:auto;
		min-height:16em;
		font-size:0.6em;

		@include breakpoint(tablet){
			padding-top:19em;
			font-size:0.7em;
		}
		@include breakpoint(medium){
			font-size:1em;
			padding-top:12em;
		}
		
		h1{
			font-size:2.5em;
			@include breakpoint(tablet){
				font-size:4em;
			}
		}
		.map-container{
			//padding:1em;
			position:relative;
			padding:0;
			@include breakpoint(tablet){
				
			}
			h2{
				font-size:3em;
				margin:0;
				position:relative;
				color:$mainColor;
				@include breakpoint(tablet){
					
					//margin-bottom:2.5em;
					//font-size:4em;
				}
				
			}
			
			svg{
				display:none;
				width:100%;
				margin:0 auto;
				@include breakpoint(tablet){
					display:block;
					max-width:85%
				}
				a{
					display:block;
					&:hover{
						.city-icon{
							fill:$highlight;
							transition:0.25s;
						}
					}
				}

			}
			.city-icon{
				fill:#fff;
				transition:0.25s;
			}
			ul.offices{
				list-style-type:none;
				display:flex;
				align-items:flex-start;
				justify-content: space-between;
				flex-wrap:wrap;
		
				padding:0;
				font-size:1.25em;
				width:100%;
				@include breakpoint(tablet){

				}
				li{
					display:inline-block;
					flex-basis:4em;
					flex-grow:1;
					a{
						color:$mainColor;
						text-transform:uppercase;
						text-decoration:none;
						&.curr{
							font-weight:bold;
						}
						&:hover{
							text-decoration:underline;
						}
					}
				}
			}
		}

	}
	article{
		display:flex;
		align-items:flex-start;
		justify-content: space-between;
		flex-wrap:wrap;
	}
	.contact-single{
		flex-basis:310px;
		flex-shrink:1;
		flex-grow:1;
		font-family:$paragraph;
		text-transform: uppercase;

		a{
			text-transform: uppercase;
			text-decoration: none;
			display:block;
			transition: 0.25s;
			padding:0.5em;
			border-radius:2px;
			&:hover{
				background:transparentize(#fff, 0.4);
				transition:0.25s;
			}
			img{
				max-width:100%;
				border-radius:2px;
			}
		}
		

	}
	
}

.contact-popup.fancybox-content{
	width:100%;
	background-color:$mainColor;
	position:relative;
	transition:0.25s;
	padding:0;
	.info{
		width:100%;
		padding:1em;
		max-width:1200px;
		margin:1em auto;
		overflow:hidden;
		h3{
			color:$highlight;
			margin-top:0;
		}
		p{
			color:#fff;
			margin-top:0;
		}
		a{
			color:$red;
		}
	}
	
	.fancybox-close-small{
		
		svg{
			width:100%;
			height:100%;
			margin-top:0;
		}
		&:hover{
			background:transparentize(#fff,0.8);
		}

	}
	.bg-office{
		background:url('../img/office-vancouver.jpg') no-repeat center center;
		background-size:cover;
		height:0;
		transition:0.3s;
		@include breakpoint(tablet){
			height:20em;
			transition:0.3s;
		}
		@include breakpoint(medium){
			height:30em;
		}
	}
	svg{
		float:right;
		width:15em;
		margin:0 0 1em 0;
		@include breakpoint(tablet){
			margin:0;
		}
		.st0{
			fill:$highlight;
		}
		.city-icon{
			.st1, .st2{fill:transparent;}
		}
	}
	&#calgary{
		svg{
			#calgary-icon{
				.st1{fill:#EC2126;}
				.st2{fill:#C81221;}
			}
		}
	}
	&#edmonton{
		svg{
			#edmonton-icon{
				.st1{fill:#EC2126;}
				.st2{fill:#C81221;}
			}
		}
	}
	&#vancouver{
		svg{
			#vancouver-icon{
				.st1{fill:#EC2126;}
				.st2{fill:#C81221;}
			}
		}
	}
	&#kelowna{
		svg{
			#kelowna-icon{
				.st1{fill:#EC2126;}
				.st2{fill:#C81221;}
			}
		}
	}
	&#red-deer{
		svg{
			#red-deer-icon{
				.st1{fill:#EC2126;}
				.st2{fill:#C81221;}
			}
		}
	}
	&#toronto{
		svg{
			#toronto-icon{
				.st1{fill:#EC2126;}
				.st2{fill:#C81221;}
			}
		}
	}
}
