.home{
	.hero{
		background:url('../img/bg-home_vid.jpg') center center no-repeat;
		background-size:cover;
		z-index:5;
		height:100%;
		height:100vh;
		.video-overlay{
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height:100%;
			z-index:5;
			background:rgba(0,0,0,0.1);
		}
		h1{
			position:absolute;
			color:$mainColor;
			z-index:10;
			font-size:1.75em;
			line-height:0.6;
			letter-spacing:0px;
			bottom:3em;
			left:0;
			@include breakpoint(tablet){
				font-size:3em;
				bottom:1em;
			}
			@include breakpoint(medium){
				font-size:4.5em;
			}
			span{
				background:rgba(255,255,255,0.9);
				display:inline-block;
				overflow:hidden;
				padding-bottom:3px;
				padding-top:4px;
				&:first-child{
					//border-top:5px solid $red;
					padding-top:10px
				}
				&:last-child{
					//border-bottom:5px solid $red;
					padding-bottom:10px;
				}
			}
			
		}
		.slider{
			position:absolute;
			z-index:1;
			width:100%;
			height:100%;
			overflow:hidden;
			div{
				position:absolute;
				top:0;
				left:100%;
				width:100%;
				height:100%;
				background-size:cover;
				background-position:center center;
				transition:left 1s;
				z-index:0;
				&.active{
					left:0;
					transition:left 1s;
					z-index:1;
				}
				&.played{
					left:-100%;
					transition:left 1s;
					z-index:0;
				}
			}
		}
		.background-video{
			z-index:1;
		}
	}
	
}