.projects{
	
	.content{
		.intro{

			animation-name:fadeIn;
			animation-duration:1s;
			//animation-delay:0.2s;

		}

		.grid{
			display:grid;
			grid-template-columns: repeat(1,1fr);
			grid-column-gap:1em;
			grid-template-rows:auto;
			grid-row-gap:1em;
			@include breakpoint(medium){
				grid-template-columns: repeat(2,1fr);
			}
			&.filtered{
				a{
					display:none;
					&.active{
						display:block;
					}
				}

			}
			a{
				position:relative;
				display:block;
				overflow:hidden;
				height:11em;
				animation-name: fadeIn;
				animation-duration: 1s;
				background-position:center center;
				background-size:cover;
				background-repeat:no-repeat;
				@include breakpoint(tablet){
					height:9em;
				}
				@include breakpoint(medium){
					height:12em;
				}
				@include breakpoint(large){
					height:14em;
				}
				&:hover{
					.info{
						left:0;
						transition:0.25s;
					}
				}
				img{
					width:100%;
					max-width:650px;
					position:absolute;
					height:auto;
					z-index:1;
				}
				.info{
					position:absolute;
					background:linear-gradient(rgba(0,0,0,0), $mainColor);
					color:#fff;
					width:100%;
					height:100%;
					left:0;
					z-index:5;
					padding:1em;
					transition:0.25s;
					display:flex;
					align-items:flex-end;
					flex-wrap:wrap;
					justify-content:flex-start; 
					align-content: flex-end;
					text-align:left;
					@include breakpoint(medium){
						left:-100%;
						background:transparentize($mainColor, 0.3);
					}
					h2{
						text-transform: none;
						font-size:1.25em;
						margin-bottom:0;
						width:100%;
					}
					p{
						margin:0;
					}
				}
			}
		}
		.sidebar{
			ul.social{
				
				@include breakpoint(tablet){
					margin-left:9em;
				}
			}
		}
	}
}

.project-single{
	.hero{
		height:80vh;
		background-size:cover;
		background-position:bottom center;
		background-repeat:no-repeat;
		
		@include breakpoint(tablet){
			background-position:center center;
			background-attachment:fixed;
		}
			h1{
				color:#fff;
				text-transform: none;
				padding:0.25em 0.15em;
				margin:0;
				width:100%;
				background:transparentize($mainColor, 0.2);
				position:absolute;
				bottom:0;
				letter-spacing:0;
				line-height:1;
				font-size:2.5em;
				@include breakpoint(tablet){
					font-size:4em;
					
				}
				@include breakpoint(medium){
					padding:0.15em 0.75em;
					font-size:6em;
				}
	
			}
			
		
	}
	article{
		h2{
			text-transform:none;
		}
		h3{
			text-transform:none;
		}
	}
	.in-category{
		position:relative;
		//margin-bottom:1em;
		border-top:1px solid $mainColor;
		border-right:1px solid $mainColor;
		border-bottom:1px solid $mainColor;
		position:relative;
		padding:1em 0.5em;
		@include breakpoint(tablet){
			margin-bottom:7em;
		}
		&:after{
			background:$bgColor;
			position:absolute;
			height:4em;
			top:98%;
			top:calc(100% - 1px);
			right:-1px;
			border-left:1px solid $mainColor;
			border-right:1px solid $mainColor;
			border-bottom:1px solid $mainColor;		
			@include breakpoint(tablet){
				width:70%;
				content:'';
			}		

		}
		h3{
			font-size:1.25em;
			margin:0;
			a{
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}

		}
	}
	
	.sidebar{
		.content{
			padding:1em;
			position:relative;
			width:100%;
			h3, h4{
				line-height:1;
			}
		}
		&.fixed{
			.content{
				position:relative;
			}
		}
	}
}

.project-info{
	border-left:1px solid $highlight;
	overflow:hidden;
	ul.social{
		margin-top:4em;
		@include breakpoint(medium){
			margin-left:10em;
		}
	}
}