//_team.scss

.team{
	.team-category{
		width:100%;
		display:flex;
		align-items:flex-start;
		justify-content:flex-start;
		flex-wrap:wrap;
		&.filtered{
			a.team-single{
				display:none;
				&.active{
					display:inline-block;
				}
			}
		}
		a.team-single{
			display:inline-block;
			vertical-align: top;
			font-weight:bold;
			color:$mainColor;
			font-size:1em;
			flex-basis: 400px;
			text-decoration: none;
			max-width:200px;
			padding:0.5em;
			font-family:$paragraph;
			transition:0.25s;
			animation-name:fadeIn;
			animation-duration:1s;
			text-transform: uppercase;
			//animation-delay:0.2s;
			img.thumb{
				max-width:100%;
				display:block;
				border-radius:2px;
			}
			&:hover{
				background:transparentize(#fff, 0.4);
				transition:0.25s;
				border-radius:2px;
			}
		}

	}
}

.team-info.fancybox-content{
	background-color:$mainColor;
	padding:4.5em 1.25em 1.25em 1.25em;
	//background-image:url('/img/bg-bio.jpg');
	//background-position:right top;
	//background-size:100% 5em;
	h3{
		text-transform:none;
		color:$highlight;
		font-size:1.75em;
		margin:0;
		text-transform:uppercase;
		@include breakpoint(medium){
			font-size:3em;
		}
	}
	&.bgimg{
		@include breakpoint(tablet){
			
			background-position: right top;
			background-size:auto 100%;
			background-repeat:no-repeat;
		}
		.content{
			.bio{
				@include breakpoint(tablet){
					padding-right:7em;
				}
				
			}
		}
		
	}
	.content{
		display:flex;
		align-items:flex-start;
		justify-content: flex-start;
		flex-wrap:wrap;
		margin:auto;
		@include breakpoint(tablet){
			margin:1em auto;
		}
		.portrait{
			
			img{
				max-width:200px;
				display:block;
			}
			a{
				outline: none;
				&:hover{
					svg{
						fill:$highlight;
						transition:0.25s;
					}
				}
				svg{
					fill:#fff;
					width:1.5em;
					height:1.5em;
					display:block;
					margin-top:0.5em;
					transition:0.25s;
				}
			}
			
		}
		.bio{
			flex-basis:400px;
			flex-shrink:1;
			flex-grow:1;
			
			@include breakpoint(tablet){
				padding:0 1em;
			}
			h4{
				color:$highlight;
				margin:0;
				text-transform:uppercase;
			}
			p{
				color:#fff;
				margin-top:0;
			}
		}

	}
	.fancybox-close-small{
		left:0;
	}
	.bg-img{
		position:absolute;
		right:0;
		display:none;
		@include breakpoint(tablet){
			top:0;
			height:100%;
			width:7em;
			background-size:auto 100%;
			background-position:center center;
			background-repeat:no-repeat;
			display:block;
		}
	}
	
}