ol.big{
	list-style:none;
	counter-reset: big;
	li{
		counter-increment: big;
		position:relative;
		margin:0 0 1.5em 0;
		padding-left:2em;
		&::before{
			content: counter(big);
			color:$mainColor;
			//font-weight:bold;
			position:absolute;
			left:-2rem;
			font-size:3em;
			line-height:1;
		}
		
	}
	&.awards{
		li{
			&::before{
				font-size:2em;
			}
		}
		p{
			text-transform:none;
			font-size:1.25em;
			font-weight:100;
		}
	}
}

.align_left{
	float:left;
	margin:1em 1em 1em 0;
}

.align_right{
	float:right;
	margin:1em 0 1em 1em;
}

.align_center{
	margin:2em auto 1em auto;
	display:block;
}

blockquote{
	font-style:italic;
	border-left:2px solid $highlight;
	padding:0.15em 1em;
}