// breakpoints

@mixin breakpoint($point) {
  	@if $point == large {
  	   	@media (min-width: 90rem) { @content ; }
  	}
  	 	@else if $point ==  medium {
  	   	@media (min-width: 70rem) { @content ; }
  	}
  	  	@else if $point == tablet {
  	   	@media (min-width: 47rem) { @content ; }
  	}
  		@else if $point == small {
  	  	@media (max-width: 37.5rem)  { @content ; }
	
  	}
  	  	@else if $point == maxHeight {
  	    @media (max-height: 60rem) { @content ; }
  	}

}