*{
	box-sizing:border-box;
}
html{
	width:100%;
	height:100%;
}
body{
	margin:0;
	padding:0;
	background:$bgColor;
	color:$highlight;
	min-height:100%;
	width:100%;
	font-size:18px;
	
}
img{
	max-width:100%;
}