h1, h2, h3{
	font-family:$headerFont;
	text-transform:uppercase;
	font-weight:700;
	//text-align:left;
}

h4, h5, p, ul, ol{
	font-family:$paragraph;
}
p{
	line-height:1.5;
}
h1{
	font-size:4em;
	line-height:1;
}
h2{
	font-size:2em;
}
h3{
	font-size:1.75em;
}
a{
	color:$highlight;
	&:hover{
		text-decoration:none;
	}
}
*::selection {
	background:$red;
	color:#fff;
}
ul{
	li{
		margin:0 0 0.75em 0;
		line-height:1.5;
	}
}
ol{
	li{
		line-height:1.5;
	}
}